﻿<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./images/flower-icon.png"/>
    <link rel="stylesheet" type="text/css" href="./vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
</head>

<body class="content">

<%- include(`partials/header`); %>

<main class="main">

    <!-- INSERT CODE HERE -->
    
    <!-- <div class="gallery">
            <div class="photo-box" data-id=" ... ">
                <img class="photo-box-image" src=" ... "></img>
                <div class="photo-box-title font-secondary main-color-emphasized">
                    <a class="link" href=" ... "> ... </a>
                </div>
            </div>
    </div> -->

</main>

<%- include(`partials/footer`); %>

</body>

</html>